<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td  th:text="${user.getUsername()}"></td>
            <td  th:text="${user.getContactInfo().getEmail()}"></td>
            <td  th:text="${user.getContactInfo().getPhone()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>